{% extends 'dh.html' %}
{% load fenye %}
{% block addcss %}
    <style>
    .table th, .table td {
        text-align: center;
        vertical-align: middle!important;
    }
    </style>
    <link href="/static/css/fenye.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block kuozhan %}
<div class="panel panel-info" style="height: 97%">
    <div class="panel-heading"><b>主机列表详情</b></div>
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row" id="filter">
                <form class="col-md-7" action={% url 'filter' %} method="GET">
                {% csrf_token %}
                    <div class="col-sm-3">
                       <!-- <span>服务项目</span> -->
                        <select name="filter_label" id="filter_label" class="form-control">
                                <option value="9999">---服务项目---</option>
                                {% for op in service_select %}
                                    {% ifequal  op.service_name  filtervalue.data.filter_service  %}
                                        <option value="{{ op }}" selected="selected">{{ op }}</option>
                                    {% else %}
                                        <option value="{{ op }}">{{ op }}</option>
                                    {% endifequal %}
                                {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <!-- <span>主机类型</span>-->
                        <select name="filter_type" id="filter_type" class="form-control" >
                            <option value="9999">---主机类型---</option>
                            {% for types in type_select %}
                                {% ifequal  types.0  filtervalue.data.filter_type %}
                                    <option value="{{ types.0 }}" selected="selected">{{ types.1 }}</option>
                                {% else %}
                                    <option value="{{ types.0 }}">{{ types.1 }}</option>
                                {% endifequal %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-success form-btn" >过滤</button>
                    </div>
                </form>
                <form action="" class="col-md-2 pull-right">
                    <div class=" form-group  has-success">
                          <div class="input-group">
                              <input type="text" class="form-control" placeholder="Search">
                              <span class="input-group-btn"><button type="submit" class="btn btn-success">查找</button></span>
                          </div>
                    </div>
                </form>
                <div class="col-md-1 pull-right" role="button" id="ahhost">
                    <a class="btn btn-success pull-left" data-toggle="modal"  data-target="#addhost" >添加主机</a>
                </div>
                <div class="col-md-1 pull-right" role="button" id="autoaddhost">
                    <a class="btn btn-success pull-left">自动添加主机</a>
                </div>
                <div class="col-md-1 pull-right" role="button" id="ahservice">
                    <a class="btn btn-success" data-toggle="modal" data-target="#addservice">添加服务</a>
                </div>
            </div>
        </div>
        {% paginate hostlists 10 %}
        <table class="table table-hover table-responsive table-condensed">
            <thead class="text-center"><tr><th>IP</th><th>主机名称</th><th>主机类型</th><th>归属物理宿主机</th><th>服务标签</th><th>总内存M</th><th>磁盘情况</th><th>说明</th><th>创建时间</th><th>销毁时间</th><th>操作</th></tr></thead>
            <tbody>
                {% for objs in cls_list %}
                <tr>
                    <td t="ip">{{ objs.IP }}</td>
                    <td t="hostname">{{ objs.hostname }}</td>
                    <td t="type">{{ objs.get_type_display }}</td>
                    <td t="own_to">{{ objs.own_to }}</td>
                    <td t="label">
                        {% for service in objs.labels.all %}
                            <span>{{ service.service_name }}-{{ service.tomcat_name }}</span><br>
                        {% endfor %}
                    </td>
                    <td t="mem">{{ objs.mem }}</td>
                    <td t="disk">
                        {% for d in objs.disk.all %}
                            <span class="row" style="margin: 0;"><span class="col-sm-3 col-sm-offset-3"><b>{{ d.mount_name }}</b></span><span class="col-sm-3">{{ d.mount_size }}</span></span>
                        {% endfor %}
                    </td>
                    <td t="remarks" style="width: 150px;">{{ objs.remarks }}</td>
                    <td t="ctime">{{ objs.create_time | date:"Y-m-d H:i:s" }}</td>
                    <td t="dtime">{{ objs.destory_tiime }}</td>
                    <td t="operate">
                        <a class="label label-success hostlist_edit" data-toggle="modal" data-target="#hostlist_edit">编辑</a>&nbsp;
                        <a class="label label-warning hostlist_del" data-toggle="modal" data-target="#hostlist_del">删除</a><br>
                        <a class="label label-danger hostlist_terminal" href="#">终端</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <div class="col-md-offset-2">
        {% include 'fenye.html' %}
    </div>

</div>

<div class="modal fade" id="addhost" tabindex="-1" role="dialog" aria-labelledby="addhost">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">添加主机</h4>
      </div>
      <div class="modal-body">
          <form  action={% url 'addhost' %} method="POST" class="form-horizontal">
              <div class="form-group row">
                  <label for="IP" class="col-sm-1 control-label col-sm-offset-2">IP</label>
                  <div class="col-sm-6">
                      <input type="text" class="form-control " name="IP" id="IP" placeholder="IP">
                  </div>
              </div>
              <div class="form-group row">
                   <label for="addhost_label" class="col-sm-2 control-label col-sm-offset-1">服务项目</label>
                  <div class="col-sm-6">
                    <select name="addhost_label" id="addhost_label" class="form-control" multiple="5">
                            {% for op in service_select %}
                                <option value={{ op }}>{{ op }}</option>
                            {% endfor %}
                    </select>
                  </div>
              </div>
              <div class="form-group row">
                <label for="addhost_type" class="col-sm-2 control-label col-sm-offset-1">主机类型</label>
                <div class="col-sm-6">
                    <select name="addhost_type" id="addhost_type" class="form-control" >
                        <option value="null">---主机类型---</option>
                        {% for types in type_select %}
                            <option value={{ types.0 }}>{{ types.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
              </div>
              <div class="form-group row">
                  <label for="gIP" class="col-sm-2 control-label col-sm-offset-1">归属主机IP</label>
                  <div class="col-sm-6">
                      <input type="text" class="form-control " name="gIP" id="gIP" placeholder="归属IP">
                  </div>
              </div>
              <div class="form-group row">
                  <label for="ctime" class="col-sm-3 control-label ">主机创建时间</label>
                  <div class="col-sm-6">
                    <input name="ctime" type="text" class="demo-input form-control" placeholder="请选择日期" id="ctime">
                  </div>
              </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" id="addhost_submit" class="btn btn-primary">添加</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="addservice" tabindex="-1" role="dialog" aria-labelledby="addservice">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">添加服务</h4>
      </div>
      <div class="modal-body">
          <form   class="form-horizontal">
              <div class="form-group row">
                  <label for="cservice_name" class="col-sm-2 control-label col-sm-offset-2">service_name</label>
                  <div class="col-sm-6">
                      <input type="text" class="form-control " name="cservice_name" id="cservice_name" placeholder="新增服务项目名称">
                  </div>
              </div>
              <div class="form-group row">
                  <label for="ctomcat_name" class="col-sm-2 control-label col-sm-offset-2">tomcat_name</label>
                  <div class="col-sm-6">
                      <input type="text" class="form-control " name="ctomcat_name" id="ctomcat_name" placeholder="新增对应tomcat名称">
                  </div>
              </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" id="addservice_submit" class="btn btn-primary">添加</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="hostlist_edit" tabindex="-1" role="dialog" aria-labelledby="hostlist_edit">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">修改主机信息</h4>
      </div>
      <div class="modal-body">
          <form   class="form-horizontal">
              <div class="form-group row">
                  <label for="uip" class="col-sm-2 control-label col-sm-offset-2">IP</label>
                  <div class="col-sm-6">
                      <span id="uip" class="form-control"></span>
                  </div>
              </div>
              <div class="form-group row">
                  <label for="utype" class="col-sm-2 control-label col-sm-offset-2">主机类型</label>
                  <div class="col-sm-6">
                      <select name="utype" id="utype" class="form-control" >
                            <option value="null">---主机类型---</option>
                            {% for types in type_select %}
                                <option value={{ types.0 }}>{{ types.1 }}</option>
                            {% endfor %}
                      </select>
                  </div>
              </div>
              <div class="form-group row">
                  <label for="uservices" class="col-sm-2 control-label col-sm-offset-2">服务类型</label>
                  <div class="col-sm-6">
                      <select name="uservices" id="uservices" class="form-control" multiple="5">
                            {% for op in service_select %}
                                <option value={{ op }}>{{ op }}</option>
                            {% endfor %}
                      </select>
                  </div>
              </div>
              <div class="form-group row">
                  <label for="ugip" class="col-sm-2 control-label col-sm-offset-2">归属IP</label>
                  <div class="col-sm-6">
                      <input type="text" id="ugip" class="form-control" placeholder="归属IP">
                  </div>
              </div>
              <div class="form-group row">
                  <label for="uremarks" class="col-sm-2 control-label col-sm-offset-2">说明</label>
                  <div class="col-sm-6">

                      <textarea id="uremarks" class="form-control" placeholder="说明" rows="8"></textarea>
                  </div>
              </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" id="updateservice_submit" class="btn btn-primary">更新</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="hostlist_del" tabindex="-1" role="dialog" aria-labelledby="hostlist_del">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">删除</h4>
      </div>
      <div class="modal-body">
          <p class="text-center ">确定删除<span style="color: red;"></span>主机信息？？</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" id="hostlist_del_submit" class="btn btn-primary">删除</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block addjs %}
    <script src="/static/js/hostlist.js"></script>
    <script src="/static/laydate/laydate.js"></script>
{% endblock %}