aliyun-python-sdk-core==2.6.0
aliyun-python-sdk-rds==2.1.1
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
certifi==2017.11.5
chardet==3.0.4
configparser==3.5.0
Django==1.11.29
django-pure-pagination==0.3.0
enum34==1.1.6
flake8==3.5.0
future==0.16.0
futures==3.2.0
gevent==1.2.2
greenlet==0.4.12
idna==2.6
itchat==1.2.32
mccabe==0.6.1
pathlib==1.0.1
pew==1.1.1
Pillow==5.0.0
pipenv==8.3.2
psutil==5.3.1
pycodestyle==2.3.1
pycrypto==2.6.1
pyflakes==1.6.0
PyMySQL==0.8.0
pypng==0.0.18
PyQRCode==1.2.1
pytz==2017.3
requests==2.18.4
shutilwhich==1.1.0
singledispatch==3.4.0.3
six==1.11.0
tornado==5.0
urllib3==1.22
virtualenv==15.1.0
virtualenv-clone==0.2.6
wechat-sender==0.1.4
wxpy==0.3.9.8
wxPython==4.0.1
